@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../styles/theme.css');

@layer {
  :root {
    --primary: 244, 78%, 62%, 1;
    --primary-dark: 230, 98%, 82%, 1;
    --secondary: 35, 100%, 69%, 1;

    --white-900: 0, 0%, 100%, 1;
    --white-800: 215, 100%, 98%, 1;
    --white-500: 235, 24%, 55%, 1;

    --black-200: 217, 35%, 13%, 1;
    --black-300: 217, 34%, 15%, 1;
    --black-400: 218, 12%, 53%, 1;

    --toastify-color-light: 215, 100%, 98%, 1;
    --toastify-color-dark: 217, 35%, 13%, 1;
  }

  .text-stroke {
    -webkit-text-stroke: 1px;
  }

  .min-h-screen {
    min-height: 100svh;
    min-height: 100vh;
  }
}
